html {
    max-width: 100%;
    overflow-x: hidden;
 }
 body {
    max-width: 100%;
    overflow-x: hidden;
 }

@font-face {
    font-family: 'poppins-Regular';
    src: url("fonts/Poppins-Regular.ttf");
    font-family: 'poppins-Bold';
    src: url("fonts/Poppins-Bold.ttf");
}

body{
    font-family: 'poppins', 'rubik', sans-serif;
    /*color: #344C54;*/
}

img:hover{
    opacity: 0.5;
}

.main{
    display: flex;
    flex-direction: column;
}


.principal{
    width: 100vw;
    height: 100vh;
    background-color: #F2C1C6;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.about{
    margin-top: 5%;
    margin-right: 10%;
    display: flex;
    align-self: flex-end;
    color: #344C54;
}
.about a{
    text-decoration: none;
    font-size: 24px;
    color: #344C54;
}

.about a:visited{
    text-decoration: none;
    z-index: 1;
    font-size: 20px;
    color: #344C54;
}

.link{
    text-decoration: none;
    padding-top: 50px;
   /* background-color: white;
    color:#F2C1C6;
    border: 1px solid #344C54;;
    min-width: 20px;
    padding: 15px 20px;
    position: relative;
    margin-top: 20%;*/
}

.link:hover{

}

.link a{
    color:#172226;
    text-decoration: none;
    border: 2px solid #F2C1C6;
    border-radius: 5px;
    padding: 15px 20px;
}

.link a:hover{
color:#F2C1C6;
border: 1px solid #F2C1C6;

}

.about a:hover{
    color:white;
}

.anaLogo{
    margin-top: 23%;
    width: 70%;
}

.arrowSpace{
    margin-top: 3%;
    width: 5%;
    height: 10%;
}

.arrowSpace a{
    width: 60%;
    margin-left: 10%;
    padding-top: 60%;
    object-fit: cover;
}

.arrowSpace img{
    width: 75%;
}

.group{
    display:flex;
    flex-direction: column;
}

.blanc{
    width: 100vw;
    height: 20vh;
    background-image: url(./img/810.jpg);
    background-size: auto;
    background-attachment: fixed;
}



#startProjects{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
background-color: white;
}

.project{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
background-color: white;

}


.absolut{
    width: 20%;
    /*position: absolute;*/
   /* display:flex;
    flex-direction: column;*/
   /* background-color: #84BED6;*/
    padding-left: 4%;
    padding-top: 10%;
}

.imgProject1{
    width: 100vw;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.imgProject1 img{
    padding-left: 17%;
    height: 100%;
    object-fit: cover;
}

.oscurecer {
    background-image: url(./img/voluntnearmockup.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  height: 80%;
  width: 80%;
  }

.imgProject2{
    width: 100vw;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.imgProject2 img{
    padding-left: 17%;
    height: 100%;
    object-fit: cover;
}

.img:hover{
    opacity: 0.5;
    cursor: pointer;
}


.imgProject3{
    width: 100vw;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.imgProject3 img{
    padding-left: 17%;
    height: 100%;
    object-fit: cover;

}

.imgProject4{
    width: 100vw;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.imgProject4 img{
    padding-left: 17%;
    height: 100%;
    object-fit: cover;
}


h2{
    font-size: 100px;
    font-family: "poppins-Bold", sans-serif;
    width: 30vw;
    color:#172226;
    /*margin-bottom: 5%;*/
}

h3{
    font-size: 20px;
    line-height : 30px;
    width: 30vw;
    color: #273A41;
   /* margin-bottom: 2%;*/
}

.year{
    font-size: 16px;
    /*padding-bottom: 3%;*/
}

@media only screen and (min-width:0px) and (max-width:440px){
    .principal{
        width: 100vw;
        height: 100vh;
        background-color: #F2C1C6;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about{
        margin-top: 20%;
        margin-right: 10%;
        display: flex;
        align-self: flex-end;
    }

    .about a{
        font-size: 14px;
    }
    
    .anaLogo{
        margin-top: 65%;
        width: 80%;
    }

    .arrowSpace{
        margin-top: 40%;
        width: 10%;
    }
    
    .blanc{
        width: 100vw;
        height: 20vh;
        background-image: url(./img/810.jpg);
        background-size: auto;
        background-attachment: fixed;
    }

    #startProjects{
        width: 100vw;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    
    .project{
        width: 100vw;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    
    .absolut{
        width: 100vw;
        /*position: absolute;*/
       /* display:flex;
        flex-direction: column;*/
        padding-left: 10%;
        padding-top: 10%;
    }
    
    h2{
        font-size: 40px;
        width: 90vw;
        font-family: "poppins-Bold";
        /*margin-bottom: 5%;*/
    }
    
    h3{
        font-size: 12px;
        line-height : 20px;
        width: 90vw;
        margin-bottom: 10%;
        margin-top: 3%;
        padding-right: 10%;
    }
    
    .year{
        font-size: 10px;
        /*padding-bottom: 3%;*/
    }
    

    .img:hover{
        opacity: 0.5;
        cursor: pointer;
    }

    .imgProject1 img{
        padding-left: 0;
        height: 100%;
        object-fit: cover;
    }

    .imgProject2 img{
        padding-left: 0;
        height: 100%;
        object-fit: cover;
    }

    .imgProject3 img{
        width: 100vw;
        padding-left: 0;
        height: 100%;
        object-fit: cover;
    }
    .imgProject4 img{
        width: 100vw;
        padding-left: 0;
        height: 100%;
        object-fit: cover;
    }

}



@media only screen and (min-width:441px) and (max-width:767px){
    .principal{
        width: 100vw;
        height: 100vh;
        background-color: #F2C1C6;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about{
        margin-top: 7%;
        margin-right: 10%;
        *display: flex;
        align-self: flex-end;
    }

    .about a{
        font-size: 20px;
    }
    
    .anaLogo{
        margin-top: 55%;
        width: 80%;
    }

    .arrowSpace{
        margin-top: 10%;
        width: 10%;
    }
    
    .blanc{
        width: 100vw;
        height: 20vh;
        background-image: url(./img/810.jpg);
        background-size: auto;
        background-attachment: fixed;
    }

    #startProjects{
        width: 100vw;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    
    .project{
        width: 100vw;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    
    .absolut{
        width: 100vw;
        /*position: absolute;*/
       /* display:flex;
        flex-direction: column;*/
        padding-left: 10%;
        padding-top: 10%;
    }
    
    h2{
        font-size: 40px;
        width: 90vw;
        font-family: "poppins-Bold";
        /*margin-bottom: 5%;*/
    }
    
    h3{
        font-size: 12px;
        line-height : 20px;
        width: 90vw;
        margin-bottom: 10%;
        margin-top: 3%;
        padding-right: 10%;
    }
    
    .year{
        font-size: 10px;
        /*padding-bottom: 3%;*/
    }
    

.img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.imgProject1 img{
    padding-left: 0;
    height: 100%;
    object-fit: cover;
}

.imgProject2 img{
    padding-left: 0;
    height: 100%;
    object-fit: cover;
}

.imgProject3 img{
    padding-left: 0;
    height: 100%;
    object-fit: cover;
}
.imgProject4 img{
    padding-left: 0;
    height: 100%;
    object-fit: cover;
}
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .about a{
        text-decoration: none;
        padding-top: 100px;
        font-size: 35px;
        color: #344C54;
    }

    .anaLogo{
        width: 70%;
    }

    .arrowSpace img{
        width: 130%;
        padding-top: 100px; 
    }
    .principal{
        width: 100vw;
        height: 100vh;
        background-color: #F2C1C6;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .anaLogo{
        margin-top: 70%;
        width: 80%;
    }

    #startProjects{
        width: 100vw;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .project{
        width: 100vw;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .absolut{
        width: 100vw;
        /*position: absolute;*/
       /* display:flex;
        flex-direction: column;*/
        /*background-color: blanchedalmond;*/
        padding-left: 10%;
        padding-top: 10%;
    }
    h2{
        font-size: 6em;
        width: 80vw;
        font-family: "poppins-Bold";
        /*margin-bottom: 5%;*/
    }
    
    h3{
        font-size: 22px;
        width: 90vw;
        line-height : 45px;
        margin-top: 3%;
        margin-bottom: 10%;
        padding-right: 10%;
    }
    
    .year{
        font-size: 24px;
        /*padding-bottom: 3%;*/
    }
    .img:hover{
        opacity: 0.5;
        cursor: pointer;
    }

    .imgProject1 img{
        width: 100vw;
        padding-left: 0;
        height: 100%;
        object-fit: cover;
    }

    .imgProject2 img{
        width: 100vw;
        padding-left: 0;
        height: 100%;
        object-fit: cover;
    }

    .imgProject3 img{
        width: 100vw;
        padding-left: 0;
        height: 100%;
        object-fit: cover;
    }
    .imgProject4 img{
        width: 100vw;
        padding-left: 0;
        height: 100%;
        object-fit: cover;
    }
    

}
@media only screen and (min-width:1025px) and (max-width:1440px){
    
}
@media only screen and (min-width:1441px){
}
